body {
    background-color: rgb(14, 247, 227);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: blue;
    text-decoration: rgb(209, 123, 12);
}
main {
    grid-row: 2;
    padding: 2rem;
    text-align: center;
}
p {
    color: brown;
    font-size: medium;
}